@import web.model.common.table.FormDefinition

@(formDefinition: FormDefinition[_])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor: FieldConstructor = @{
    FieldConstructor(baseInput.f)
}

@form(formDefinition.submitAction) {

    <fieldset>
    @for(field <- formDefinition.fields) {
        @inputText(formDefinition.form(field.name), '_label -> field.label)
    }
    </fieldset>

    <div class="actions">
        <input type="submit" value="Create this computer" class="btn primary"> or
        <a href="@formDefinition.cancelAction" class="btn">Cancel</a>
    </div>

}
