@import controllers.AssetsFinder
@import net.craftal.web.controller.NavigationContext
@import net.craftal.web.model.event.EventCalendar
@import net.craftal.web.model.form.event.SearchEventForm.Data
@import org.webjars.play.WebJarsUtil
@import play.api.data.Form
@import play.api.i18n.Messages
@(form: Form[Data], calendar: Option[EventCalendar])(implicit request: NavigationContext[_], messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@net.craftal.web.view.layout.html.public("event") {
    <div class="event-calendar">
        <div class="jumbotron text-center mb-0">
            <div class="container">
                <div>
                    <p class="m-0 font-weight-bold text-white text-left">@messages("craftal.public.event-calendar.title")</p>
                    <img src="/assets/images/event-calendar/title@@2x.png" alt="CLAFTAL.">
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="nav nav-tabs border-0">
                <li class="nav-item flex-grow-1 nav-item-enable d-flex align-items-stretch">
                    <a class="nav-link flex-grow-1 border-0 p-0 small d-flex align-items-center justify-content-center"
                    href="@net.craftal.web.controller.event.routes.ListEventCalendarController.view()">
                    @messages("craftal.public.event-calendar.nav.event")
                    </a>
                </li>
                <li class="nav-item flex-grow-1 d-flex align-items-stretch">
                    <a class="nav-link flex-grow-1 border-0 p-0 small d-flex align-items-center justify-content-center"
                    href="@net.craftal.web.controller.artist.routes.SummaryArtistController.view()">
                    @messages("craftal.public.event-calendar.nav.artist")
                    </a>
                </li>
            </ul>
        </div>

        <div class="container-fluid nav-content-enable">
            <div class="row">
                <div class="col d-flex justify-content-center py-5">
                    <div class="container">
                    @helper.form(
                        action = net.craftal.web.controller.event.routes.ListEventCalendarController.view,
                        'class -> "small d-flex align-items-center justify-content-center flex-column",
                        'method -> "get"
                    ) {
                        @helper.inputCheckboxGroup(
                            form("genre"),
                            options = calendar.map(_.genreSearchConditions).getOrElse(Seq()),
                            'class -> "small",
                            '_label -> None,
                            '_showConstraints -> false
                        )

                        <button class="p-0 m-0 btn rounded-0 small bg-white" type="submit">
                        @messages("craftal.public.common.form.button.search")
                        </button>
                    }
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-4">
        @calendar.map { c =>
            @c.events.keys.map { date: String =>
                <div class="row">
                    <div class="col">
                        <h6 class="color-gold mt-5 pb-3 mb-3 border-color-gold border-bottom">
                            @date
                        </h6>
                    </div>
                </div>
            @for(e <- c.events.get(date)) {
                @e.map { event =>
                    <div class="row">
                        <div class="col">
                            <div class="event-card my-2 pb-4">
                                <div class="d-flex justify-content-start align-items-center mb-2">
                                    <p class="like flex-column d-flex justify-content-center align-items-center flex-column mb-0 mr-2">
                                        <a class="rounded-circle bg-gold d-flex justify-content-center align-items-center flex-column text-white small">
                                            20
                                            <i class="icon ion-md-heart"></i>
                                        </a>
                                    </p>
                                    <h6 class="color-gold font-weight-bold mb-0">@event.title</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="" alt="@event.eyecatchPhoto.name" src="@event.eyecatchPhoto.url">
                                    </div>
                                    <div class="col-md-8">
                                        <p class="small m-0 pb-1 color-gold font-weight-bold">@event.schedule.prefecture ／ @event.schedule.location</p>
                                        <p class="small m-0 pb-1">
                                            <i class="icon ion-md-time mr-1"></i>@event.schedule.schedule
                                        </p>
                                        <p class="small m-0 pb-1">
                                            <i class="icon ion-md-pin mr-1"></i>@event.schedule.venue
                                        </p>
                                        <p class="small m-0 mb-2 mt-2">@event.description</p>
                                        <div class="float-right">
                                            <a class="btn small bg-gold rounded-0 text-white" href="@net.craftal.web.controller.event.routes.DetailEventController.view(event.id.toString)">
                                                詳細を見る</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            }
        }.getOrElse {
            <div class="row mb-2">
                <div class="col-md-12">
                    <h3>お探しの条件に合うイベントがありません</h3>
                </div>
            </div>
        }
        </div>
    </div>
}
