@import controllers.AssetsFinder
@import net.craftal.web.controller.NavigationContext
@import net.craftal.web.model.event.EventCalendar
@import net.craftal.web.model.form.event.SearchEventForm.Data
@import org.webjars.play.WebJarsUtil
@import play.api.data.Form
@import play.api.i18n.Messages
@(form: Form[Data], calendar: Option[EventCalendar])(implicit request: NavigationContext[_], messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@net.craftal.web.view.layout.html.public("event") {
    <div class="event-calendar">
        <div class="jumbotron text-center clearfix mb-0">
            <div class="container">
                <div class="float-right">
                    <p class="lead font-weight-bold text-white text-shadow">@messages("craftal.public.event-calendar.title")</p>
                    <img src="/assets/images/event-calendar/title@@2x.png" alt="CLAFTAL.">
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item tab-button-event">
                <a class="nav-link" href="@net.craftal.web.controller.event.routes.ListEventCalendarController.view()">
                @messages("craftal.public.event-calendar.nav.event")
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@net.craftal.web.controller.artist.routes.SummaryArtistController.view()">
                @messages("craftal.public.event-calendar.nav.artist")
                </a>
            </li>
        </ul>

        <div class="container-fluid tab-item-event">
            <div class="row">
                <div class="col d-flex justify-content-center pt-5">
                @helper.form(
                    action = net.craftal.web.controller.event.routes.ListEventCalendarController.view,
                    'class -> "form-inline mt-2 mt-md-0 pb-3 mb-4",
                    'method -> "get"
                ) {
                    @helper.inputText(
                        form("keyword"),
                        'name -> "keyword",
                        'class -> "form-control mr-sm-2",
                        'placeholder -> "Search",
                        '_label -> None
                    )
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    @messages("craftal.public.common.form.button.search")
                    </button>
                }
                </div>
            </div>
        </div>

        <div class="container mb-4">
        @calendar.map { c =>
            @c.events.keys.map { date: String =>
                <div class="row">
                    <div class="col">
                        <h6 class="decoration-text mt-5 pb-2 font-italic date">
                            @date
                        </h6>
                    </div>
                </div>
            @for(e <- c.events.get(date)) {
                @e.map { event =>
                    <div class="row">
                        <div class="col">
                            <div class="event-card mt-4 pb-4">
                                <h6 class="event-title">@event.title</h6>
                                <div class="clearfix">
                                    <img class="float-left mr-2" alt="@event.eyecatchPhoto.name" src="@event.eyecatchPhoto.url">
                                    <p class="decoration-text">@event.schedule.location ／ @event.schedule.prefecture</p>
                                    <p class="text-muted">@event.schedule.schedule</p>
                                    <p class="text-muted">@event.schedule.venue</p>
                                    <small>@event.description</small>
                                    <div class="float-right">
                                        <a target="_blank" class="btn btn-primary" href="@net.craftal.web.controller.event.routes.DetailEventController.view(event.id.toString)">
                                            詳細を見る</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            }
        }.getOrElse {
            <div class="row mb-2">
                <div class="col-md-12">
                    <h3>お探しの条件に合うイベントがありません</h3>
                </div>
            </div>
        }
        </div>
    </div>
}
