@import controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(event: net.craftal.web.model.event.EventDetail)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@net.craftal.web.view.html.main(event.title) {
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">@event.title</h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12 blog-main">
            <div class="blog-post">
                <span class="blog-post-meta">兵庫県</span>
                <span class="blog-post-meta">屋外</span>
                <span class="blog-post-meta">募集中</span>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                どんなイベント？
            </h3>
            <p>@event.description</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                参加予定作家
            </h3>
        </div>
        <div class="col-md-12">
            <div class="row mb-2">
            @for(artist <- event.artists) {
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">工作</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">@artist.name</a>
                            </h3>
                            <a href="/artists/@artist.id">詳細を見る</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-lg-block" src="https://via.placeholder.com/200x250"
                        alt="Card image cap">
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}
