@import controllers.AssetsFinder
@import net.craftal.web.controller.NavigationContext
@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages
@(event: net.craftal.web.model.event.EventDetail)(implicit request: NavigationContext[_], messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@net.craftal.web.view.layout.html.public(event.title) {
    <div class="event-detail pb-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0">
                    <img class="eyecatch" alt="@event.eyecatchPhoto.name" src="@event.eyecatchPhoto.url">
                </div>
            </div>
        </div>

        <div class="container-fluid bg-light">
            <div class="row">
                <div class="container">
                    <div class="row pt-5 pb-4">
                        <div class="col-md-6 border-md-right border-white">
                            <h3 class="m-0 font-weight-bold">
                            @event.title
                            </h3>
                            <p class="m-0">
                            @for(s <- event.schedule) {
                                <span class="mb-1 small font-weight-bold">@s.schedule</span>
                            }
                            </p>
                            <p class="small mt-2">
                            @event.description
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-2">
                                <div class="col-6">
                                @for(s <- event.schedule) {
                                    <p class="small m-0 pb-1 color-gold font-weight-bold">@s.prefecture</p>
                                    <p class="small m-0 pb-1 color-gold font-weight-bold">@s.location</p>
                                    @if(event.homePageUrl.isDefined) {
                                        <p class="small m-0 pb-1 small m-0">
                                            <a href="@event.homePageUrl" target="_blank" class="color-gold">
                                                @event.homePageUrl
                                            </a>
                                        </p>
                                    }
                                }
                                    <p class="small m-0 pb-1 font-weight-bold">
                                        @messages("craftal.public.event-detail.organization")
                                    </p>
                                    <p class="small m-0 pb-2 font-weight-bold">
                                        @messages("craftal.public.event-detail.contact")
                                    </p>
                                    <p class="small m-0">
                                        @if(event.facebookUrl.isDefined) {
                                            <a href="@event.facebookUrl" target="_blank" class="mr-1">
                                                <i class="icon ion-logo-facebook color-gold"></i>
                                            </a>
                                        }
                                        @if(event.instagramUrl.isDefined) {
                                            <a href="@event.instagramUrl" target="_blank" class="mr-1">
                                                <i class="icon ion-logo-instagram color-gold"></i>
                                            </a>
                                        }
                                        @if(event.twitterUrl.isDefined) {
                                            <a href="@event.twitterUrl" target="_blank" class="mr-1">
                                                <i class="icon ion-logo-twitter color-gold"></i>
                                            </a>
                                        }
                                    </p>
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <p class="want-to-go flex-column d-flex justify-content-center align-items-center flex-column">
                                        <span class="small color-gold mb-1">
                                        @messages("craftal.public.event-detail.want-to-go")
                                        </span>
                                        <a class="rounded-circle d-flex justify-content-center align-items-center flex-column">
                                            <i class="icon ion-md-walk"></i>
                                            20
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-white">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center pt-5 pb-4 font-weight-bold">
                            @messages("craftal.public.event-detail.what-kind-of-event")
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-gallery">
                            @for(p <- event.subPhotos) {
                                <img class="pr-1 pb-1" alt="@p.name" src="@p.url">
                                }
                            </div>
                            <div class="my-4">
                            @for(a <- event.attributes) {
                                <i class="border border-right rounded p-1 small color-gold border-gold">@a.name</i>
                            }
                            </div>
                            <div class="my-4">
                                <ul class="d-flex p-0">
                                    <li class="border border-right mr-2 large-attribute d-flex flex-column justify-content-center align-items-center text-center">
                                        <img src="/assets/images/event-detail/car@@2x.png" />
                                        <span class="x-small pt-1">ケータリングカー出店可</span>
                                    </li>
                                    <li class="border border-right mr-2 large-attribute d-flex flex-column justify-content-center align-items-center text-center">
                                        <img src="/assets/images/event-detail/tento@@2x.png" />
                                        <span class="x-small pt-1">テント貸し出しあり</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="font-weight-bold">
                            @messages("craftal.public.event-detail.main-catch")
                            </h3>
                            <p class="small mt-2">
                            @event.description
                            </p>
                            <h3 class="font-weight-bold mt-5">
                            @messages("craftal.public.event-detail.remarks")
                            </h3>
                            <p class="small mt-2">
                            @event.description
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center pt-5 pb-4 font-weight-bold">
                            @messages("craftal.public.event-detail.participating-artists")
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col artist-gallery">
                        @for(artist <- event.artists) {
                            <a href="@net.craftal.web.controller.artist.routes.DetailArtistController.view(artist.id.toString)"
                                class="p-1">
                                <img class="rounded-circle"
                                    src="@artist.artistPhoto.url"
                                    alt="@artist.artistPhoto.name">
                            </a>
                            <!--
                            <div class="col-md-6">
                                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <strong class="d-inline-block mb-2 text-primary">工作</strong>
                                        <h3 class="mb-0">
                                            <a class="text-dark" href="#">@artist.name</a>
                                        </h3>
                                    </div>

                                </div>
                            </div>
                            -->
                        }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center pt-5 pb-4 font-weight-bold">
                            @messages("craftal.public.event-detail.venue-access")
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row border bg-light py-5 px-3">
                            @for(s <- event.schedule) {
                                <div class="col-md-6">
                                    <h3 class="font-weight-bold mb-1">@s.venue</h3>

                                    <p class="small font-weight-bold">
                                        <span>@messages("craftal.public.event-detail.postal-code-mark") @s.postalCode</span>
                                        <span>@s.address</span>
                                    </p>
                                    <h4 class="font-weight-bold mt-4">
                                    @messages("craftal.public.event-detail.access")
                                    </h4>
                                    <p class="small pre">@s.howToAccess</p>
                                    <h4 class="font-weight-bold mt-4 mb-0">
                                    @messages("craftal.public.event-detail.venue-url")
                                    </h4>
                                    <a class="small color-gold" href="@s.venueUrl">
                                    @s.venueUrl
                                    </a>
                                    <h4 class="font-weight-bold mt-4">
                                    @messages("craftal.public.event-detail.remarks")</h4>
                                    <p class="small pre">@s.venueRemarks</p>
                                </div>
                                <div class="col-md-6 border border-light">
                                @net.craftal.web.view.helper.html.map()
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
