@import controllers.AssetsFinder
@import net.craftal.web.model.mypage.Mypage
@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@(model:Mypage)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@net.craftal.web.view.layout.html.mypage(messages("craftal.mypage.event.list.title")) {

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <p class="lead my-3">お知らせです</p>
            <p class="lead my-3">お知らせです</p>
            <p class="lead my-3">お知らせです</p>
            <p class="lead my-3">お知らせです</p>
        </div>
    </div>

    <div class="btn-toolbar mb-3">
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <h3 class="pb-3 mb-4 font-italic border-bottom">フォローした作家</h3>
            @model.artists.map { artist =>
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">@artist.name</h3>
                    <p class="card-text mb-auto">@artist.email</p>
                    <p class="card-text mb-auto">@artist.prefecture</p>
                    <a href="@net.craftal.web.controller.artist.routes.DetailArtistController.view(artist.id.toString)">
                        詳細を見る
                    </a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block"
                alt=""
                src="@artist.artistPhoto.url">
            </div>
            }
        </div>
        <div class="col-md-6">
            <h3 class="pb-3 mb-4 font-italic border-bottom">フォローしたイベント</h3>
            @model.events.map { event =>
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">@event.title</h3>
                    <div class="mb-1 text-muted">@event.schedule.schedule</div>
                    <div class="mb-1 text-muted">@event.schedule.venue</div>
                    <a href="@net.craftal.web.controller.event.routes.DetailEventController.view(event.id.toString)">
                        詳細を見る
                    </a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block"
                alt=""
                src="@event.eyecatchPhoto.url">
            </div>
            }
        </div>
    </div>
}

