@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@@(formDefinition: FormDefinition[_])(implicit request: RequestHeader, messages: Messages)

@import helper._

@form(formDefinition.submitAction) {
    @helper.CSRF.formField
    <fieldset>
    @for(field <- formDefinition.fields) {
        @inputText(formDefinition.form(field.name), '_label -> field.label)
    }
    </fieldset>

    <div class="actions">
        <input type="submit" value="Create this computer" class="btn primary"> or
        <a href="@formDefinition.cancelAction" class="btn">Cancel</a>
    </div>

}
