@import play.api.i18n.Messages
@(navigationCollection: Seq[net.craftal.web.model.common.Navigation])(implicit messages: Messages)
<footer class="bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/event-calendar/logo@@2x.png" alt="CLAFTAL.">
        </a>
        <ul class="navbar-nav ml-auto">
            @for(navigation <- navigationCollection) {
                <li class="nav-item">
                    <a class="nav-link" href="@navigation.action">@navigation.name</a>
                </li>
            }
        </ul>
    </div>
</footer>