@import net.craftal.web.model.common.Page
@(page: Page)(implicit messages: Messages)
<nav>
    <ul class="pagination">
        @page.prev.map { page =>
        <li class="page-item">
            <a class="page-link" href="#">
                @messages("craftal.management.common.pagenation.prev")
            </a>
        </li>
        }.getOrElse {
            <li class="page-item disabled">
                <a class="page-link" href="#">
                @messages("craftal.management.common.pagenation.prev")
                </a>
            </li>
        }

        @for(p <- page.getSurroundingPages()) {
            <li class="page-item">
                <a class="page-link" href="#">@p.page</a>
            </li>
        }

        @page.next.map { page =>
        <li class="page-item">
            <a class="page-link" href="#">
                @messages("craftal.management.common.pagenation.next")
            </a>
        </li>
        }.getOrElse {
            <li class="page-item disabled">
                <a class="page-link" href="#">
                @messages("craftal.management.common.pagenation.next")
                </a>
            </li>
        }
    </ul>
</nav>