.event-detail {
  .eyecatch {
    height: 256px;
    object-fit: cover;
    width: 100%;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 33.3%;
      /*
      @media only screen and (min-width: 768px) {
        width: 16.6%;
      }
      */
    }

    img:first-child {
      height: auto;
      width: 100%;
    }
  }

  .artist-gallery {
    display: flex;
    flex-wrap: wrap;

    img {
      height: 44px;
      width: 44px;
    }
  }

  .icon {
    font-size: 1.25rem;
  }

  .want-to-go {
    span {
      &:before {
        content: '＼';
      }

      &:after {
        content: '／';
      }
    }

    a, a:hover, a:active {
      display: flex;
      height: 64px;
      width: 64px;
      justify-content: center;
      align-items: center;
    }
  }

  .col-md-6, .col {
    padding-right: 30px;
    padding-left: 30px;
  }

  .pre {
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .large-attribute {
    width : 72px;
    height: 72px;
    img {
      width: 32px;
      height: auto;
    }
  }
}
