/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .border-md-right {
    border-right: 1px solid;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container {
    max-width: 960px;
  }
}

.color-gold {
  color: $gold;
}

.border-gold {
  border-color: $gold !important;
}
