@import java.util.UUID

@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@(userName: Option[String], token: UUID)(implicit messages: Messages, request: RequestHeader)

<html>
    <body>
        <p>@messages("email.reset.password.hello", userName.getOrElse("user"))</p>
        <p>@Html(messages("email.reset.password.html.text",
            net.craftal.web.controller.auth.routes.ResetPasswordController.view(token).absoluteURL()))</p>
    </body>
</html>
